{% extends 'base.html.twig' %}

{% block title %}
    Liste des produits - {{ parent() }}
{% endblock %}

{% block body %}
    <table>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ dump() }}

    Méthode HTTP : {{ app.request.method }}
{% endblock %}

{% block sidebar %}{% endblock %}
